{% extends 'base.html' %} {%block header %}
<h1>{% block title %}Log in{%endblock %} {% endblock %}</h1>
{% block content %}
<form method="post">
  <div class="mb-3">
    <label for="input-username" class="form-label">Username</label>
    <input type="text" class="form-control" name="username" required />
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" name="password" required />
  </div>
  <button type="submit" class="btn btn-primary">Log in</button>
</form>
{% endblock %}
