<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
    <title>{% block title %}{% endblock %} P-Bank</title>
  </head>
  <body>
    <nav class="bg-light border navbar navbar-expand-md navbar-light">
      <div class="container">
        <a class="navbar-brand" href="/"
          ><img src="{{ url_for('static', filename='logo.png') }}"
        /></a>

        <button
          aria-controls="navbar"
          aria-expanded="false"
          aria-label="Toggle navigation"
          class="navbar-toggler"
          data-bs-target="#navbar"
          data-bs-toggle="collapse"
          type="button"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav me-auto mt-2">
            <li class="nav-item">
              <a class="nav-link" href="/">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/buy">Balance</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/sell">Transactions</a>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto mt-2">
            {% if g.user %}
            <li class="nav-item">
              <a class="nav-link" href="/account">My Account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth.logout') }}"
                >Log Out</a
              >
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth.register') }}"
                >Register</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth.login') }}">Log In</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <section class="container">
      <header>{% block header %}{% endblock %}</header>
      {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
      {% endfor %} {% block content %}{% endblock %}
    </section>
  </body>
</html>
