{% extends 'base.html' %} {% block content %}
<section class="container">
  <div class="px-4 py-5 my-5 text-center">
    <!-- <img
    class="d-block mx-auto mb-4"
    src="../assets/brand/bootstrap-logo.svg"
    alt=""
    width="72"
    height="57"
  /> -->
    <h1 class="display-5 fw-bold">Welcome to P-Bank</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        We are P-Bank. A savings bank to keep track of your spare change pot.
        See your balance, transactions and upload any deposits/withdrawls with a
        few easy clicks!
      </p>
      {% if g.user %}
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a
          class="btn btn-dark btn-lg px-4 gap-3"
          href="{{ url_for('bank.balance') }}"
        >
          Balance
        </a>
        <a
          class="btn btn-outline-dark btn-lg px-4"
          href="{{ url_for('bank.transactions') }}"
        >
          Transactions
        </a>
        {% else %}
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a
          class="btn btn-dark btn-lg px-4 gap-3"
          href="{{ url_for('auth.register') }}"
        >
          Register
        </a>
        <a
          class="btn btn-outline-dark btn-lg px-4"
          href="{{ url_for('auth.login') }}"
        >
          Log in
        </a>
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}
